<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <header></header>
    <div class="contenedor-menu">
        <h1> firts flask frontend</h1>
        <ul>
            <li>
                <a href="{{url_for('home')}}">Inicio</a>
               <li>
               </li>
               <a href="{{url_for('home')}}">producto </a>
               <li>
               </li>
               <a href="{{url_for('home')}}">procedimiento</a>
               <li>
               </li>
               <a href="{{url_for('home')}}">contactenos</a>
               
            
    
</body>
</html>